.container {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.sidebar {
  width: 200px;
  padding: 20px;
  color: white;
  background-color: #7eb2e5;
}

.appList {
  list-style: none;
  padding: 0;
}

 .button {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.main {
  flex-grow: 1;
  padding: 20px;
}
